

{% block title %}Modifier les informations de profil{% endblock %}

{% block body %}
    <h1>Modifier les informations de profil</h1>

    {{ form(form) }}

    <a href="{{ path('app_dashboard') }}">Retour au dashboard</a>
{% endblock %}
