{% extends "dashboard/expertDashboard.html.twig" %}

{% block title %}Mes opérations
{% endblock %}

{% block col_content %}

	<div class="row">
		<div class="row">
			<div class="col-8">
				<h1 class="text-primary d-inline">Mes opérations en cours...</h1>
			</div>
			<div class="col d-flex align-items-center">
				{% for message in app.flashes('success') %}
					<h5 class="text-success" id="error">
						✓
						{{ message }}</h5>
				{% endfor %}
			</div>
		</div>
		{% for operation in operations %}
			{% if (app.user.email == operation.emailUser) and (operation.statut == 'C') %}
				<div class="col-12 col-md-6 col-lg-4 col-xl-3">
					<div class="card mb-3 mx-auto" style="max-width:20rem">
						<div class="card-header text-center">
							<h4 class="text-center" style="color:#939595b4">Commande n°{{ operation.numCommand  }}</h4>
						</div>
						<div class="card-body text-center">

							<form method="POST" action="{{ path('op_terminee', {'id' : operation.id}) }}" style="display:inline-block;">
								<input type="hidden" name="_method" value="SUP"/>
								<input type="hidden" name="_token" value="{{ csrf_token("SUP" ~ operation.id) }}">
								<input type="submit" class="btn btn-success" value="Terminer"/>
							</form>
						</div>
					</div>
				</div>
				{# <tr class="text-primary menu-nav">    																																																																													                </tr> #}
			{% endif %}
		{% endfor %}
	</div>

	<hr style="color:blue ; height:3px">
	<hr style="color:white ; height:3px">
	<hr style="color:red ; height:3px">
	<div class="row">
		<h1 class="text-primary">Mes opérations terminées</h1>
		{% for operation in operations %}
			{% if (app.user.email == operation.emailUser) and (operation.statut == 'T')  %}
				<div class="col-12 col-md-6 col-lg-4 col-xl-3">
					<div class="card mb-3 mx-auto" style="max-width:20rem">
						<div class="card-header text-center">
							<h4 class="text-center" style="color:#939595b4">Commande n°{{ operation.numCommand  }}</h4>
						</div>
						<div class="card-body text-center" style="display:flex ; justify-content:center">
							<form method="POST" action="{{path("app_pdf_generator", {'id' : operation.id}) }}" style="display:inline-block ; padding: 2px">
								<input type="submit" class="btn btn-success" value="Télécharger PDF"/>
							</form>
							<form method="" action="{{path("app_mailer")}}" style="display:inline-block; padding: 2px">
								<input type="submit" class="btn btn-success" value="Mail au client"/>
							</form>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
