
{% block title %}Créer un événement{% endblock %}

{% block body %}
    <h1>Créer un événement</h1>

    {{ form_start(form) }}
    {{ form_row(form.titleEvent) }}
    {{ form_row(form.dateEvent)}}
    {{ form_row(form.placeEvent) }}
    {{ form_row(form.numberOfSitEvent) }}
    {{ form_end(form) }}

    <h2>Événements créés par vous</h2>
    <table>
        <tr>
            <th>Titre</th>
            <th>Date</th>
            <th>Lieu</th>
            <th>Action</th>
        </tr>
  
    
        
        {% for event in MesEvent %}
            <tr>
                <td>{{ event.titleEvent }}</td>
                <td>{{ event.dateEvent|date("d/m/Y H:i:s") }}  </td>
                <td>{{ event.placeEvent }}</td>
                <td>
                    <form action="{{ path('event_delete', {'id': event.id}) }}" method="post">
                        <button type="submit">Supprimer</button>
                    </form>
                </td>
                 <td>
                 <form action="{{ path('event_edit', {'id': event.id}) }}" method="post">
                        <button type="submit">Modifier</button>
                    </form>
                            
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href={{ path('app_dashboard') }}>DASHBOARD</a>
{% endblock %}


