{% extends 'base.html.twig' %}

{% block body %}

    <h1>Modifier l'événement</h1>

 {{ form_start(form) }}
    {{ form_row(form.titleEvent) }}
    {{ form_row(form.dateEvent)}}
    {{ form_row(form.placeEvent) }}
    {{ form_row(form.numberOfSitEvent) }}
    {{ form_end(form) }}

    <a href="{{ path('event_create') }}">Retour sans Modifier</a>
{% endblock %}
