{% extends 'base.html.twig' %}

{% form_theme form_article 'bootstrap_5_layout.html.twig' %}

{% block body %}

    <h1>
        {% if app.user %}
            {% if editMode %}
                Modifiez l'opération
            {% else %}
                Ajoutez une opération
            {% endif %}
        {% endif %}   
     </h1>

    {% if app.user %}
     
        {{ form_start(form_article)}}

            
            {{ form_row(form_article.title, {'label' : 'Titre', 'attr': {'placeholder': 'Titre de d\'opération'}}) }}

            {{ form_row(form_article.category, {'label' : 'Type d\'opération'}) }}

            {{ form_row(form_article.content, {'label' : 'Description', 'attr': {'placeholder': 'Description de l\'opération'}}) }}

            {{ form_row(form_article.image, {'attr': {'placeholder': 'URL de l\'opération'}}) }}


            <button class="btn btn-success">
                {% if editMode %}
                    Enregistrer les modifications
                {% else %}
                    Ajouter une operation
                {% endif %}
            </button>

        {{ form_end(form_article)}}
    {% else %}
        <h2> Connectez vous créer ou modifier une opération </h2>
        <a href="{{ path('security_login') }}" class="btn btn-primary"> Connexion </a>
    {% endif %}



{% endblock %}  