<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<link rel="stylesheet" href="{{ asset('asset/css/styles.css') }}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="script.js"></script>
	</head>

	<body>

		<div class="hero">

			<video autoplay loop muted plays-inline class="back-video">
				<source src="{{ asset('images/videoAccueil.mp4') }}" type="video/mp4">

			</video>

			<nav>
				<p class="logo">
					PROPAR
				</p>
				<ul>
					
					{% if app.user %}
						<li><a href="{{ path("dashboard")}}">DASHBOARD</a></li>
						<li><a href="{{ path("security_logout")}}">DECONNEXION</a></li>
					{% else %}	
						<li><a href="{{ path('app_command') }}">EFFECTUER UNE COMMANDE</a></li>	
						<li><a href="{{ path('security_login') }}">CONNEXION</a></li>
					{% endif %}

				</ul>

			</nav>

			{% block descr_propar %}
				<div class="content">
					<h1>
						Entreprise de prestation de service, depuis 2003.  Nous sommes la référence en matière de propreté.
						Vous avez la possibilité de faire appel à nos services en tant que particulier ou professionnel. 
						Nous veillons à votre bien-être et sommes très pointilleux sur la qualité , tant sur le service que  l'environnement.
					</h1>
				</div>
			{% endblock %}
			
		</div>
	
	</body>
</html>
