{% extends 'base.html.twig' %}

{% block title %}
	Mes articles !
{% endblock %}

{% block body %}
	<section class="article">
		{% for article in articles %}
			<article>
				<h2>{{ article.title }}</h2>
				<div class="metadata">
					Ecrit le {{ article.createdAt | date("d/m/y")}} à {{ article.createdAt | date("H:i") }} dans la catégorie <i>{{ article.category.title }}</i>
				</div>
				<div class="content">
					<img src="{{ article.image }}" alt="">
					<p>{{ article.content | raw }}</P>
					<a href="{{ path('blog_show', {'id': article.id}) }}" class="btn btn-primary">lire la suite</a>
					<br>
					{# path(nom_route, param_route) #}
				</div>
			</article>
		{% endfor %}
	</section>
{% endblock %}
