{% extends "base.html.twig" %}

{% block body %}
    <article>
        <h2>{{ article.title }}</h2>
        <div class="metadata">Ecrit le  {{ article.createdAt | date("d/m/y")}} à {{ article.createdAt | date("H:i")}} dans la catégorie <i> {{ article.category.title }} </i></div>
        <div class="content">
            <img src="{{ article.image }}" alt="">
            <p> {{ article.content | raw }} </p>
            {% if app.user %}
                <a href="{{ path("blog_edit", {'id': article.id}) }}" class="btn btn-primary"> Modifier l'opération </a>
            {% endif %}
        </div>
	</article>

    <section class="mt-3" id="commentaires">

        <h3 class="pt-4 pb-4">{{ article.comments | length }} <i> Commentaires: </i> </h3>
        
        {% for comment in article.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                        {{ comment.author }} <small> {{ comment.createdAt | date('d/m/y à H:i') }}</small>
                    </div>
                    <div class="col">
                        {{ comment.content | raw }}
                    </div>
                </div>
            </div>
        {% endfor %}

        <br>
        {% if app.user %}
            {{ form_start(commentForm) }}

                {{ form_row(commentForm.author, {'label': 'Auteur', 'attr': {'placeholder': 'Votre nom'}}) }}
                {{ form_row(commentForm.content, {'label': 'Contenu', 'attr': {'placeholder': 'Ajouter un commentaire'}}) }}

                <button type="submit" class="btn btn-success"> Envoyer </button>
            {{ form_end(commentForm) }}
        {% else %}
            <h2> Connectez vous pour commenter </h2>
            <a href="{{ path('security_login') }}" class="btn btn-primary"> Connexion </a>
        {% endif %}
    </section>
{% endblock %}