{# {% extends 'base.html.twig' %} #}

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<link rel="stylesheet" href="{{ asset('asset/css/styles.css') }}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="script.js"></script>
	</head>
	<body>

		<div class="hero">

      <video autoplay loop muted plays-inline class="back-video">
          <source src="{{ asset('images/videoAccueil.mp4') }}" type="video/mp4">
      
      </video>



      <nav>
          <a class="logo" href="{{ path('home') }}"> PROPAR </a>
          {# <li><a href="{{ path('app_command') }}">EFFECTUER UNE COMMANDE</a></li> #}
          
      </nav> 
        
      <div>

        <form action="{{ path('security_login') }}" method='post'>

          <div class="form-group mt-2">
              <input type="email" {% if error %} value="{{ email }}" {% endif %}
              class="form-control" placeholder="Adresse mail" required name="_username">
          </div>
          <div class="form-group mt-2">
              <input type="password" class="form-control" placeholder="Mot de passe" required name="_password">
          </div>
          <input type="hidden" name="_target_path" value="{{ path('dashboard') }}" />
          {% if error %}
              <p class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
              {# <p class="text-danger">Email ou mot de passe incorrect</p> #}
          {% endif %}
          <div class="form-group mt-2">
              <button name="submit" type="submit" class="btn btn-secondary"> Connexion </button>
          </div>
    
        </form>

          {# <form>
              <div class="form-group row">
                
                <div class="col-8">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fa fa-address-card"></i>
                      </div>
                    </div> 
                    <input id="text" name="text" type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group row">
                
                <div class="col-8">
                  <input id="text1" name="text1" type="text" class="form-control">
                </div>
              </div> 
              <div class="form-group row">
                <div class="offset-4 col-8">
                  <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </form> #}

      </div>
    </div>


	</body>
</html>

{# {% block body %}
     
    
    <form action="{{ path('security_login') }}" method='post'>
    
        <div class="form-group mt-2">
            <input type="email" {% if error %} value="{{ email }}" {% endif %}
              class="form-control" placeholder="Adresse mail" required name="_username">
        </div>
        <div class="form-group mt-2">
            <input type="password" class="form-control" placeholder="Mot de passe" required name="_password">
        </div>
       // <input type="hidden" name="_target_path" value="{{ path('security_login') }}" />
        {% if error %}
            <p hidden class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            <p class="text-danger">Email ou mot de passe incorrect</p>
        {% endif %}
        <div class="form-group mt-2">
            <button type="submit" class="btn btn-success"> Connexion </button>
        </div>
        
    </form>
    


{% endblock %}
 #}