<!DOCTYPE html>
<html lang="fr" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="https://unpkg.com/tailwindcss@2.2.4/dist/tailwind.min.css" rel="stylesheet">
	</head>
	<body>


		<div class="flex items-center justify-center p-12">
			{{ form_start(form, {'attr': {'class': 'w-full max-w-lg'} }) }}
			<div class="mb-5">
				<label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
					Year of Diploma
				</label>
				{{ form_widget(form.competence, {'attr': {'class': "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"}}) }}
				{{ form_errors(form.competence) }}
			</div>
			<div class="mb-5">
				<label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
					Diploma Description
				</label>
				{{ form_widget(form.sector, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
				{{ form_errors(form.sector) }}
			</div>
			<div>
				{{ form_widget(form.submit, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
			</div>
			{{ form_end(form) }}
		</div>

		<a href={{ path('app_dashboard') }}>DASHBOARD</a>

	</body>
</html>
