<!DOCTYPE html>
<html lang="fr" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="https://unpkg.com/tailwindcss@2.2.4/dist/tailwind.min.css" rel="stylesheet">
	</head>
	<body>

		<div>
			<nav class="bg-white border-b border-gray-200 fixed z-30 w-full" id="navbar">
				<div class="px-3 py-3 lg:px-5 lg:pl-3">
					<div class="flex items-center justify-between">
						<div class="flex items-center justify-start">
							<button id="toggleSidebarMobile" aria-expanded="true" aria-controls="sidebar" class="lg:hidden mr-2 text-gray-600 hover:text-gray-900 cursor-pointer p-2 hover:bg-gray-100 focus:bg-gray-100 focus:ring-2 focus:ring-gray-100 rounded">
								<svg id="toggleSidebarMobileHamburger" class="w-6 h-6" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
								</svg>
								<svg id="toggleSidebarMobileClose" class="w-6 h-6 hidden" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
								</svg>
							</button>
							<a href="{{ path('app_dashboard') }}" class="text-xl font-bold flex items-center lg:ml-5" id="clicLogo">
								<img src="{{asset('images/LogoAavero.png')}}" class="h-12 mr-2" alt="Windster Logo">

							</a>
							<form action="retourHome" method="post" id="home">
								<input type="hidden" name="idAccount" value="${account.idAccount }">

							</form>
							{# <form action="#" method="GET" class="hidden lg:block lg:pl-32">
															<label for="topbar-search" class="sr-only">Search</label>
															<div class="mt-1 relative lg:w-64">
																<div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
																	<svg class="w-5 h-5 text-gray-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
																		<path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
																	</svg>
																</div>
																<input type="text" name="email" id="topbar-search" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full pl-10 p-2.5" placeholder="Search">
															</div>
														</form> #}
						</div>
						<div class="flex items-center">
							<button id="toggleSidebarMobileSearch" type="button" class="lg:hidden text-gray-500 hover:text-gray-900 hover:bg-gray-100 p-2 rounded-lg">
								<span class="sr-only">Search</span>
								<svg class="w-6 h-6" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
								</svg>
							</button>
							<div class="hidden lg:flex items-center">
								<a href="{{ path('app_logout') }}" class="flex items-center mr-4 hover:text-blue-100">
									<span class="inline-flex mr-1">
										<svg class="w-5 h-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
											<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
										</svg>
									</span>
									Logout
								</a>
							</div>
						</div>
					</div>
				</div>
			</nav>
			<div class="flex overflow-hidden bg-white pt-16">
				<aside id="sidebar" class="fixed hidden z-20 h-full top-0 left-0 pt-16 flex lg:flex flex-shrink-0 flex-col w-64 transition-width duration-75" aria-label="Sidebar">
					<div class="relative flex-1 flex flex-col min-h-0 border-r border-gray-200 bg-white pt-0" id="sidebarbg">
						<div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
							<div class="flex-1 px-3 bg-white divide-y space-y-1">
								<ul class="space-y-2 pb-2">
									<li>
										<form action="#" method="GET" class="lg:hidden">
											<label for="mobile-search" class="sr-only">Search</label>
											<div class="relative">
												<div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
													<svg class="w-5 h-5 text-gray-500" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
														<path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path>
													</svg>
												</div>
												<input type="text" name="email" id="mobile-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-cyan-600 focus:ring-cyan-600 block w-full pl-10 p-2.5" placeholder="Search">
											</div>
										</form>
									</li>
									<li>
										<a href="{{ path('app_dashboard') }}" class="text-base text-gray-900 font-normal rounded-lg flex items-center p-2 hover:bg-gray-100 group">
											<svg class="w-6 h-6 text-gray-500 group-hover:text-gray-900 transition duration-75" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
												<path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
												<path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
											</svg>
											<span class="ml-3">Dashboard</span>
										</a>
									</li>
									<li>
										<a href="{{ path('app_utilisateur') }}" class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 flex items-center p-2 group ">
											<svg class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 transition duration-75" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
											</svg>
											<span class="ml-3 flex-1 whitespace-nowrap">Reseau</span>
										</a>
									</li>
									<li>
										<a href="#" class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 flex items-center p-2 group ">
											<svg class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 transition duration-75" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"></path>
											</svg>
											<span class="ml-3 flex-1 whitespace-nowrap">Career center</span>
										</a>
									</li>
									<li>
										<a href="#" class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 flex items-center p-2 group ">
											<svg class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 transition duration-75" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z" clip-rule="evenodd"></path>
											</svg>
											<span class="ml-3 flex-1 whitespace-nowrap">Candidacy center</span>
										</a>
									</li>
									<li>
										<a href="{{ path('list_event') }}" class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 flex items-center p-2 group ">
											<svg class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 transition duration-75" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z" clip-rule="evenodd"></path>
											</svg>
											<span class="ml-3 flex-1 whitespace-nowrap">Event</span>
										</a>
									</li>
								</ul>
								<div class="space-y-2 pt-2">

									<a href="#" target="_blank" class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 group transition duration-75 flex items-center p-2">
										<svg class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 transition duration-75" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-2 0c0 .993-.241 1.929-.668 2.754l-1.524-1.525a3.997 3.997 0 00.078-2.183l1.562-1.562C15.802 8.249 16 9.1 16 10zm-5.165 3.913l1.58 1.58A5.98 5.98 0 0110 16a5.976 5.976 0 01-2.516-.552l1.562-1.562a4.006 4.006 0 001.789.027zm-4.677-2.796a4.002 4.002 0 01-.041-2.08l-.08.08-1.53-1.533A5.98 5.98 0 004 10c0 .954.223 1.856.619 2.657l1.54-1.54zm1.088-6.45A5.974 5.974 0 0110 4c.954 0 1.856.223 2.657.619l-1.54 1.54a4.002 4.002 0 00-2.346.033L7.246 4.668zM12 10a2 2 0 11-4 0 2 2 0 014 0z" clip-rule="evenodd"></path>
										</svg>
										<span class="ml-3">Help</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</aside>
				<div class="bg-gray-900 opacity-50 hidden fixed inset-0 z-10" id="sidebarBackdrop"></div>
				<div id="main-content" class="h-full w-full bg-gray-50 relative overflow-y-auto lg:ml-64">
					<main>
						<div class="pt-6 px-4">
							<div class="md:flex no-wrap md:-mx-2 ">
								<div
									class="w-full md:w-3/12 md:mx-2">
									<!-- Profile Card -->
									<div class="bg-white p-3" id="profilPart">
										<div class="image overflow-hidden">
											<img class="h-auto w-full mx-auto" src="{{asset('images/yasuo.jpg')}}" alt="">
										</div>
										<h1 class="text-gray-900 font-bold text-xl leading-8 my-1">{{monprofil.firstname}}
											{{monprofil.lastname}}</h1>
										<h3 class="text-gray-600 font-lg text-semibold leading-6">{{infoProfil.jobsTitle}}</h3>

										<ul class="bg-gray-100 text-gray-600 hover:text-gray-700 hover:shadow py-2 px-3 mt-3 divide-y rounded shadow-sm">
											<li class="flex items-center py-3">
												<span>Status</span>
												<span class="ml-auto">
													<span class="bg-green-500 py-1 px-2 rounded text-white text-sm">{{myrole}}</span>
												</span>
											</li>
											<li class="flex items-center py-3">
												<span>Changer Avatar</span>
												<span class="ml-auto">bon courage pour faire ca</span>
											</li>
										</ul>
										<!-- AHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH -->
										<div class="flex">
											<button id="states-button" data-dropdown-toggle="dropdown-states" class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-500 bg-gray-100 border border-gray-300 rounded-l-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600" type="button">
												<svg class="h-5 w-5 rounded-full mr-2 text-blue-500" viewbox="0 0 24 24" fill="none" {% if monprofil.color == "#F0E5CF" or monprofil.color == null %} stroke="#ada188" {% else %} stroke="{{monprofil.color}}" {% endif %} stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
													<circle cx="12" cy="12" r="10"/>
													<circle cx="12" cy="12" r="6"/>
													<circle cx="12" cy="12" r="2"/></svg>
												Couleur
												<svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 10 6">
													<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
												</svg>
											</button>
											<div id="dropdown-states" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
												<ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="states-button">
													<li>
														<a href="{{ path('app_select_color', {'id': monprofil.id, 'color': '#F0E5CF'}) }}" class="inline-flex w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white">
															<div class="inline-flex items-center">
																<svg class="h-5 w-5 rounded-full mr-2 text-blue-500" viewbox="0 0 24 24" fill="none" stroke="#ada188" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
																	<circle cx="12" cy="12" r="10"/>
																	<circle cx="12" cy="12" r="6"/>
																	<circle cx="12" cy="12" r="2"/>
																</svg>
																Beige
															</div>
														</a>
													</li>
													<li>
														<a href="{{ path('app_select_color', {'id': monprofil.id, 'color': '#88ad8e'}) }}" class="inline-flex w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white">
															<div class="inline-flex items-center">
																<svg class="h-5 w-5 rounded-full mr-2 text-blue-500" viewbox="0 0 24 24" fill="none" stroke="#88ad8e" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
																	<circle cx="12" cy="12" r="10"/>
																	<circle cx="12" cy="12" r="6"/>
																	<circle cx="12" cy="12" r="2"/>
																</svg>
																Vert
															</div>
														</a>
													</li>
													<li>
														<a href="{{ path('app_select_color', {'id': monprofil.id, 'color': '#ad8888'}) }}" class="inline-flex w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white">
															<div class="inline-flex items-center">
																<svg class="h-5 w-5 rounded-full mr-2 text-blue-500" viewbox="0 0 24 24" fill="none" stroke="#ad8888" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
																	<circle cx="12" cy="12" r="10"/>
																	<circle cx="12" cy="12" r="6"/>
																	<circle cx="12" cy="12" r="2"/>
																</svg>
																Rouge
															</div>
														</a>
													</li>
													<li>
														<a href="{{ path('app_select_color', {'id': monprofil.id, 'color': '#eff3ac'}) }}" class="inline-flex w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white">
															<div class="inline-flex items-center">
																<svg class="h-5 w-5 rounded-full mr-2 text-blue-500" viewbox="0 0 24 24" fill="none" stroke="#eff3ac" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
																	<circle cx="12" cy="12" r="10"/>
																	<circle cx="12" cy="12" r="6"/>
																	<circle cx="12" cy="12" r="2"/>
																</svg>
																Jaune
															</div>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<!-- OHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH -->
									</div>
								</div>

								<div class="w-full md:w-9/12 mx-2 h-64">
									<!-- Profile tab -->
									<!-- About Section -->
										<div class="bg-white p-3 shadow-sm rounded-sm"> <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8" id="titleInfo">
											<span clas="text-green-500">
												<svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
													<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
												</svg>
											</span>
											<span class="tracking-wide">Informations</span>
											<a href={{ path('app_information_profil_edit') }}>
												<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
													<path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75"/>
												</svg>
											</a>
										</div>
										<div class="text-gray-700">
											<div class="grid md:grid-cols-2 text-sm">
												<div class="grid grid-cols-2">
													<div class="px-4 py-2 font-semibold">Prenom</div>
													<div class="px-4 py-2">{{monprofil.firstname}}
													</div>
												</div>
												<div class="grid grid-cols-2">
													<div class="px-4 py-2 font-semibold">Nom</div>
													<div class="px-4 py-2">{{monprofil.lastname}}</div>
												</div>
												<div class="grid grid-cols-2">
													<div class="px-4 py-2 font-semibold">Numéro de telephone</div>
													<div class="px-4 py-2">{{monprofil.phoneNumber}}</div>
												</div>
												<div class="grid grid-cols-2">
													<div class="px-4 py-2 font-semibold">Année Obtention Bac</div>
													<div class="px-4 py-2">{{monprofil.yearBac}}</div>
												</div>
												<div class="grid grid-cols-2">
													<div class="px-4 py-2 font-semibold">Email</div>
													<div class="px-4 py-2">
														<a class="text-blue-800" href="mailto:{{myemail}}">{{myemail}}</a>
													</div>
												</div>
												<div class="grid grid-cols-2">
													<div class="px-4 py-2 font-semibold">Classe (si actuellement au lycée )</div>
													<div class="px-4 py-2">{{monprofil.studentClass}}</div>
												</div>
												<div class="grid grid-cols-2">
													<div class="px-4 py-2 font-semibold">Secteur d'activite</div>
													<div class="px-4 py-2">{{infoProfil.activitySector}}</div>
												</div>
												<div class="grid grid-cols-2">
													<div class="px-4 py-2 font-semibold">linkedin</div>
													<div class="px-4 py-2">
														<a href="{{infoProfil.linkedin}}">{{infoProfil.linkedin}}</a>
													</div>
												</div>
												<div class="grid grid-cols-2">
													<div class="px-4 py-2 font-semibold">lien vers l'entreprise</div>
													<div class="px-4 py-2">
														<a href="{#infoProfil.linkCompany#}">{{infoProfil.linkCompany}}</a>
													</div>
												</div>
												<div class="grid grid-cols-2">
													<div class="px-4 py-2 font-semibold">lien vers la ficher metier</div>
													<div class="px-4 py-2">
														<a href="{#infoProfil.linkJobCard#}">{{infoProfil.linkJobCard}}</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- End of about section -->

									<div class="my-4"></div>
									<!-- Rajouter tableau des competences ICI -->


								</div>


							</div>


							<div class="min-w-min">
								<!-- INPUT -->


								<!-- INPUT -->
									<ul class="rounded-md shadow-md bg-white m-full left-0 right-0 -bottom-18 mt-3 p-3"> <li class="text-xs uppercase text-gray-400 border-b border-gray border-solid py-2 px-5 mb-2">
										DIPLOMES
									</li>

									<li class="grid grid-cols-10 gap-4 justify-center items-center cursor-pointer px-4 py-2 rounded-lg hover:bg-gray-50">							

										{% for diploma in mesdiplomes %}
											<div class="col-start-2 col-end-11 pl-8 border-l-2 border-solid border-gray">
												<h3 class="text-gray-900 font-medium text-md">{{ diploma.descDiploma }}</h3>
												<p class="text-gray-600 mt-1 font-regular text-sm">
													{{ diploma.school }}
												</p>
												<div class="inline-block mr-2 mt-2">
													<form method="post" action="{{ path('app_delete_diploma', { 'id': diploma.id }) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce diplôme ?');">
														<button type="submit" class="focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-red-500 hover:bg-red-600 hover:shadow-lg">
															<svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
																<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/>
															</svg>
														</button>
														<button id="infoDiplome" type="button" class="focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-gray-500 hover:bg-gray-600 hover:shadow-lg">
															<svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
																<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
															</svg>
														</button>
													</form>

												</div>
											</div>
										{% endfor %}


									</li>


									<div class="inline-block mr-2 mt-2">
										<a href="{{ path('app_diploma') }}">
											<button id="addDiplome" type="button" class="focus:outline-none text-white text-xs py-2 px-4 rounded-md bg-green-500 hover:bg-green-600 hover:shadow-lg">AJOUTER DIPLOME</button>
										</a>
										
										<form action="addDiplome" method="post" id="formAddDiplome">
											<input type="hidden" name="idAccount" value="${account.idAccount }">
										</form>
									</div>
									<li class="text-xs uppercase text-gray-400 border-b border-gray border-solid py-2 px-5 mb-2">
										COMPETENCES
									</li>
									<li class="grid grid-cols-10 gap-4 justify-center items-center cursor-pointer px-4 py-2 rounded-lg hover:bg-gray-50">
										{% for competence in mescompetences %}
											<div class="col-start-2 col-end-11 pl-8 border-l-2 border-solid border-gray">
												<h3 class="text-gray-900 font-medium text-md">{{ competence.competence }}</h3>
												<p class="text-gray-600 mt-1 font-regular text-sm">
													{{ competence.sector }}
												</p>
												<div class="inline-block mr-2 mt-2">
													<form method="post" action="{{ path('app_delete_competence', { 'id': competence.id }) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette compétence ?');">
														<button type="submit" class="focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-red-500 hover:bg-red-600 hover:shadow-lg">
															<svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
																<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/>
															</svg>
														</button>
														<button type="button" class="focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-gray-500 hover:bg-gray-600 hover:shadow-lg">
															<svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
																<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
															</svg>
														</button>
													</form>
												</div>
											</div>
										{% endfor %}

									</li>
									<div class="inline-block mr-2 mt-2">
										<a href="{{ path('app_competences') }}">
											<button type="button" class="focus:outline-none text-white text-xs py-2 px-4 rounded-md bg-green-500 hover:bg-green-600 hover:shadow-lg">AJOUTER COMPETENCE</button>
										</a>
									</div>
								</ul>
							</div>
						</div>

					</main>
					<footer class="bg-white md:flex md:items-center md:justify-between shadow rounded-lg p-4 md:p-6 xl:p-8 my-6 mx-4">
						<ul class="flex items-center flex-wrap mb-6 md:mb-0">
							<li>
								<a href="#" class="text-sm font-normal text-gray-500 hover:underline mr-4 md:mr-6">Terms and conditions</a>
							</li>
							<li>
								<a href="#" class="text-sm font-normal text-gray-500 hover:underline mr-4 md:mr-6">Privacy Policy</a>
							</li>
							<li>
								<a href="#" class="text-sm font-normal text-gray-500 hover:underline mr-4 md:mr-6">Licensing</a>
							</li>
							<li>
								<a href="#" class="text-sm font-normal text-gray-500 hover:underline mr-4 md:mr-6">Cookie Policy</a>
							</li>
							<li>
								<a href="#" class="text-sm font-normal text-gray-500 hover:underline">Contact</a>
							</li>
						</ul>
						<div class="flex sm:justify-center space-x-6">
							<a href="#" class="text-gray-500 hover:text-gray-900">
								<svg class="h-5 w-5" fill="currentColor" viewbox="0 0 24 24" aria-hidden="true">
									<path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd"/>
								</svg>
							</a>
							<a href="#" class="text-gray-500 hover:text-gray-900">
								<svg class="h-5 w-5" fill="currentColor" viewbox="0 0 24 24" aria-hidden="true">
									<path fill-rule="evenodd" d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z" clip-rule="evenodd"/>
								</svg>
							</a>
							<a href="#" class="text-gray-500 hover:text-gray-900">
								<svg class="h-5 w-5" fill="currentColor" viewbox="0 0 24 24" aria-hidden="true">
									<path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"/>
								</svg>
							</a>
							<a href="#" class="text-gray-500 hover:text-gray-900">
								<svg class="h-5 w-5" fill="currentColor" viewbox="0 0 24 24" aria-hidden="true">
									<path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd"/>
								</svg>
							</a>
							<a href="#" class="text-gray-500 hover:text-gray-900">
								<svg class="h-5 w-5" fill="currentColor" viewbox="0 0 24 24" aria-hidden="true">
									<path fill-rule="evenodd" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10c5.51 0 10-4.48 10-10S17.51 2 12 2zm6.605 4.61a8.502 8.502 0 011.93 5.314c-.281-.054-3.101-.629-5.943-.271-.065-.141-.12-.293-.184-.445a25.416 25.416 0 00-.564-1.236c3.145-1.28 4.577-3.124 4.761-3.362zM12 3.475c2.17 0 4.154.813 5.662 2.148-.152.216-1.443 1.941-4.48 3.08-1.399-2.57-2.95-4.675-3.189-5A8.687 8.687 0 0112 3.475zm-3.633.803a53.896 53.896 0 013.167 4.935c-3.992 1.063-7.517 1.04-7.896 1.04a8.581 8.581 0 014.729-5.975zM3.453 12.01v-.26c.37.01 4.512.065 8.775-1.215.25.477.477.965.694 1.453-.109.033-.228.065-.336.098-4.404 1.42-6.747 5.303-6.942 5.629a8.522 8.522 0 01-2.19-5.705zM12 20.547a8.482 8.482 0 01-5.239-1.8c.152-.315 1.888-3.656 6.703-5.337.022-.01.033-.01.054-.022a35.318 35.318 0 011.823 6.475 8.4 8.4 0 01-3.341.684zm4.761-1.465c-.086-.52-.542-3.015-1.659-6.084 2.679-.423 5.022.271 5.314.369a8.468 8.468 0 01-3.655 5.715z" clip-rule="evenodd"/>
								</svg>
							</a>
						</div>
					</footer>

				</div>
			</div>
			<script async defer src="https://buttons.github.io/buttons.js"></script>
			<script src="https://demo.themesberg.com/windster/app.bundle.js"></script>
		</div>

		<style media="screen">
			@font-face {
				font-family: "Alternate";
				src: url("Alternate.ttf") format("truetype");
			}


			#navbar {
				background-color: #4B6587;
				color: white;
			}
			#profilPart {
				background-color: ;
			}
			#titleInfo {
				background-color: #C8C6C6;
				color: black;
			}
			#main-content {
				{% if monprofil.color == null %}
					background-color: #F0E5CF{% else %}background-color: {{monprofil.color}}
				{% endif %};
			}
			#diplome {
				background-color: #406882;
				color: white;
			}
		</style>
	</body>
</html>
