<!DOCTYPE html>
<html lang="fr" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="https://unpkg.com/tailwindcss@2.2.4/dist/tailwind.min.css" rel="stylesheet">
	</head>
	<body>


		<div class="flex items-center justify-center p-12">
			{{ form_start(form, {'attr': {'class': 'w-full max-w-lg'} }) }}
			<div class="mb-5">
				<label for="{{ form.yearDiploma.vars.id }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
					Year of Diploma
				</label>
				{{ form_widget(form.yearDiploma, {'attr': {'class': "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"}}) }}
				{{ form_errors(form.yearDiploma) }}
			</div>
			<div class="mb-5">
				<label for="{{ form.descDiploma.vars.id }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
					Diploma Description
				</label>
				{{ form_widget(form.descDiploma, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
				{{ form_errors(form.descDiploma) }}
			</div>
			<div class="mb-5">
				<label for="{{ form.linkDiploma.vars.id }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
					Diploma Link
				</label>
				{{ form_widget(form.linkDiploma, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
				{{ form_errors(form.linkDiploma) }}
			</div>
			<div class="mb-5">
				<label for="{{ form.school.vars.id }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
					School
				</label>
				{{ form_widget(form.school, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
				{{ form_errors(form.school) }}
			</div>
			<div class="mb-5">
				<label for="{{ form.levelDiploma.vars.id }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
					Diploma Level
				</label>
				{{ form_widget(form.levelDiploma, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
				{{ form_errors(form.levelDiploma) }}
			</div>
			<div class="mb-5">
				<label for="{{ form.typeDiploma.vars.id }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
					Diploma Type
				</label>
				{{ form_widget(form.typeDiploma, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
				{{ form_errors(form.typeDiploma) }}
			</div>
			<div>
				{{ form_widget(form.submit, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
			</div>
			{{ form_end(form) }}
		</div>
	</body>
	<style>
		body {
			background-color: #F0E5CF
		}
	</style>
</html>
