{# {% extends 'base.html.twig' %} #}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PROPAR CA</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link href="../../asset/assetsCA/CA.css" rel="stylesheet" type="text/css">

    </head>

    <body>

        {# debut header #}

        <header class="navbar navbar-light sticky-top bg-light flex-md-nowrap p-0 shadow">
            <div class="position-relative-center">
                <a class="navbar-brand shadow-lg  bg-body rounded fw-bold fs-1" href="#">PROPAR</a>
            </div>
            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> 

            <div class="navbar-nav">
                <div class="nav-item text-nowrap">
                    <button type="button" class="btn btn-outline-primary me-2 "><a href="{{ path("security_logout")}}" style="text-decoration:none;" >Sign out</a></button>
                </div>
            </div>
        </header>

        {# fin header #}
        {% if app.user.roles == ["ROLE_ADMIN"] %}
            {# Debut Sidebar  #}

            <div class="container-fluid">
                <div class="row">
                    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                        <div class="position-sticky pt-3 sidebar-sticky">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{{ path("home")}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home align-text-bottom" aria-hidden="true"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                        Accueil
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path("liste_operations") }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file align-text-bottom" aria-hidden="true"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                                        Opérations
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path("recapCommand") }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart align-text-bottom" aria-hidden="true"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                                        Commandes
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path("employes")}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users align-text-bottom" aria-hidden="true"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                                        Employés
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2 align-text-bottom" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                                        Chiffres
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    {# fin sidebar #}

                    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            <h1 class="h2">Chiffre d' affaires</h1>
                            <div class="btn-toolbar mb-2 mb-md-0">
                                <button type="button" class="btn btn-sm btn-outline-secondary">
                                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;" class=""><a href="{{ path("dashboard") }}" style="text-decoration:none;background-color:white;color:black"  >Retour</a></font></font>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
                                    </svg>

                                </button>
                            </div>
                        </div>

                        {# <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="535" height="225" style="display: block; height: 271px; width: 642px;"> #}
                        {# debut Diagramme #}
                        <div class="position-relative" >
                            <div id="affichage_div">
                                <figure class="highcharts-figure">
                                    <div id="container"></div>
                                    <p class="highcharts-description">
                                        Diagramme du chiffre d' affaires exprimé en  ( K € exclusivement à la portée des Experts).
                                    </p>
                                </figure>
                            </div>
                            <div class="text-center rounded-5">
                                <button id ="affichage_bouton"> 
                                    Afficher/ Masquer
                                </button>
                            </div>
                            <br>
                        </div>
                        {# fin Diagramme #}
                        {# </canvas> #}

                        <h2>Détails</h2>
                        <div class="table-responsive">
                            <table class="table table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Type</th>
                                        <th scope="col">En cours</th>
                                        <th scope="col">Terminées</th>
                                        <th scope="col">Gains en K €</th>
                                        <th scope="col">Projections en K €</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Grosses</td>
                                        <td><i>{{ ecGrosse }}</i></td>
                                        <td>{{ totalG }}</td>
                                        <td><b id="opGrosse">{{ opGrosse }}</b></td>
                                        <td><b>+<i>{{ grosseEc }}</i></b></td>
                                    </tr>
                                    <tr>
                                        <td>Moyennes</td>
                                        <td><i>{{ ecMoyenne }}</i></td>
                                        <td>{{ totalM }}</td>
                                        <td><b id="opMoyenne">{{ opMoyenne }}</b></td>
                                        <td><b>+<i>{{ moyenneEc }}</i></b></td>
                                    </tr>
                                    <tr>
                                        <td>Petites</td>
                                        <td><i>{{ ecPetite }}</i></td>
                                        <td>{{ totalP }}</td>
                                        <td><b id="opPetite">{{ opPetite}}</b></td>
                                        <td><b>+<i>{{ petiteEc }}</i></b></td>
                                    </tr>
                                    <tr>
                                        <td><b>TOTAL</b></td>
                                        <td><i>{{ totalC }}</i></td>
                                        <td>{{ totalT }}</td>
                                        <td><b id="opGrosse">{{ totalOp }}</b></td>
                                        <td><b>+<i>{{ totalEc }}</i></b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </main>
                </div>
        </div>
        {% endif %}

        {# Fin Sidebar  #}

        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-3d.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
        <script src="../../asset/assetsCA/CA.js"></script>
    </body>
</html>

