@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'K2D', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}


.card {
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    height: 460px;
    width: 296px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}

.swiper {
    width: 950px;
}

section {
    position: relative;
    width: 450px;
    width: 1320px;
    display: flex;
    align-items: center;
}

section .card .image {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: #fff;
    box-shadow: 0px -1px 4px 2px rgba(0, 0, 0, 0.025);
}

section .card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.box1 {
    position: absolute;
    width: 100%;
    height: 30%;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(106.32deg, #767f9f 14.23%, rgba(255, 25, 25, 0) 139.97%);
}

.card .media-icons {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .media-icons i {
    color: #fff;
    opacity: 0.7;
    margin-top: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.card .media-icons i:hover {
    opacity: 1;
}

.card .name-profession {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.name-profession .name {
    font-size: 20px;
    font-weight: 600;
    color: #222;
}

.name-profession .profession {
    font-size: 15px;
    font-weight: 500;
    color: #333;
}

.card .rating {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.card .rating i {
    font-size: 18px;
    margin: 0 2px;
    color: orange;
}

section .card .about {
    display: flex;
    text-align: center;
    color: #444;
    margin-top: 45px;
    margin-bottom: 5px;
}

.card .button {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card .b1 button {
    background: #a1b9b9;
}

.card .button button {
    outline: none;
    border: none;
    color: #fff;
    padding: 8px 22px;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.card .button button:hover {
    opacity: 0.8;
}

.col1 {
    background-color: #767f9f;
    width: 46%;
    height: 100%;
}

.col2 {
    background-color: #def1f1;
    width: 100%;
    height: 100%;
}