
/* form {
  width: 50%;
}

button a {
  text-decoration: none;
  color: white;
}

button a:hover {
  color: white;
}

.show-command {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';

  /* overflow: hidden; */

}

/* body {
  width: 100vw;
  height: 100vh;
} */

.hero{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
  padding-right: 0px;

}


nav{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(12, 3, 51, 0.083);
}

nav .logo{
  text-decoration: none;
  color: #fff;
  font-size: 17px
}

nav .logo:hover{
  color: #fff;
  text-decoration: none;
}

.form-control{
  text-decoration: none;
  color: #fff;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

nav ul li a{
  text-decoration: none !important;
  color: #fff;
  font-size: 17px
}

nav ul li a:hover{
  color: #fff;
}

.content{
  text-align: center;
}
.content h1{
  
  color: #fff;
  font-weight: 600;
}

.back-video{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

form label {
  color: white;
}


.form-label {
  color: rgba(44, 62, 80, 1);
}

form[name=command_form] label {
  color: white;
}

.form-select {
  color: rgba(44, 62, 80, 1)!important;
}

/* form[name=command_form]
{
  z-index: 1;
} */

/* Menu dashboard */

.container-row{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.menu-profil {
  background-color: #767f9f;
}

#deconnexion {
  position: fixed;
  left: 0;
  bottom: 0;
}
.menu-nav {
  background-color: #def1f1;
}

div.menu-content {
  background-color: #d6dfdf;
  padding-left: 0px;
  padding-right: 0px;
}

.border-round {
  width: 50%;
  height: 50%;
}


.m-dashboard {
  background-color: #767f9f;
  color: #def1f1;
  border-radius: 3px;
}

.mess {
  /* display: none!important; */
  visibility: hidden;
}

/* LISTE DES ADRESSES AJAX  */
#liste:hover {
  background-color: #0275d8;
  cursor: pointer;
  color: white;
}