{% extends "blog/home.html.twig" %}

{% block descr_propar %}
    <div class="show-command">
        <div class="card">
            <div class="card-body mx-4">
                <div class="container pb-5">
                    <p class="my-5 mx-5" style="font-size: 30px;">Recapitulatif de ma commande</p>
                    <div class="row">
                        <ul class="list-unstyled">
                            <li class="text-black"> Nom: <span style="font-size: 20px; padding-left: 10px; ">{{ show_command.nameCustomer }}</span></li>
                            <li class="text-black mt-1"> Email: <span style="font-size: 20px; padding-left: 10px; "> {{ show_command.emailCustomer }} </span></li>
                            <li class="text-black mt-1"> Description: <span style="font-size: 20px; padding-left: 10px; "> {{ show_command.description }} </span></li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <a href="{{ path('home') }}" class="btn btn-secondary">Retour page d'accueil</a>
                    <a href="{{ path('edit_command', {'id': show_command.id}) }}" class="btn btn-secondary">Modifier la commande</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}