{% extends 'dashboard/expertDashboard.html.twig' %}


{# {% block title %} Dashboard senior et apprenti {% endblock %}
{% block col_username %}		
    <div class="row align-items-end container-row m-0 text-primary">
        <div class="col p-0">
            <div class="text-center pb-5">
                <h4 class="row align-items-center">
                    <i class="fa-solid fa-user"></i><br>			
                    {% if app.user %}
                        <strong class="text-primary"><i>{{ app.user.username|first|capitalize }}{{ app.user.nom[:2]|upper}}</i></strong>
                        </h4>
                        <h4 class="pt-3">
                            <a href="{{ path("security_logout")}}" class="text-decoration-none">
                                <i class="fa-solid fa-right-from-bracket text-primary text-center p-0 m-0"></i>
                                <i class="text-primary fs-6 d-block">Deconnexion</i>
                            </a>
                        </h4>
                    {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block col_menu %}
        <ul class="navbar-nav me-auto text-primary pt-5">
            {% if app.user %}

                <li class="nav-item">
                    <h4><a class="nav-link" href="{{ path("recapCommand")}}"> Commandes </a></h4>
                </li>
                <li class="nav-item">
                    <h4><a class="nav-link" href="{{ path("liste_operations") }}"> Mes opérations </a></h4>  
                </li>

            {% endif %}

        </ul>
{% endblock %}

{% block col_content %}

            {# <h1 class="text-primary">Liste des employés</h1>
            <table class="table">
                <tr class="menu-profil text-primary">
                    <td>Nom client</td>
                    <td>Email client</td>
                    <td>Numero commande</td>
                    <td>Description</td>
                    <td>Actions</td>
                </tr>
                {% for command in commands %}
                    <tr class="text-primary menu-nav">    
                        <td> {{ command.nameCustomer }} </td>
                        <td> {{ command.emailCustomer }} </td> 
                        <td> {{ command.id }} </td> 
                        <td> {{ command.description }} </td>
                        <td><a href="{{ path('add_operation', {"id" : command.id}) }}" class="btn btn-success">Ajouter une opération</a></td>
                    </tr> 
                {% endfor %}
            </table> #}
        {# {% endif %} #}
{# {% endblock %} #}
